div.full-width {
    background-color: $green;
    width: 100vw;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);

    div#contact-us {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1170px;
        margin: 0 auto;
        padding: 1em 2em;
    }

    h2 {
        color: white;
    }

    span.glyphicon {
        color: white;
        font-size: rem-calc(45);
    }
}